{{ define "content" }}
hello from this page!
<!--<div>-->
<!--    <form action="/shop/create" method="post">-->
<!--        <div>-->
<!--            <label for="shopName">Shop Name:</label><br>-->
<!--            <input type="text" id="shopName" name="shopName" required><br>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="address">Address:</label><br>-->
<!--            <input type="text" id="address" name="address" required><br>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit">Create Shop</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
{{ end }}

