{{template "base" .}}
{{define "content"}}
<section class="shops">
    <div class="container">
        {{range .Shops}}
        <div class="shops__text">
            <h1 class="shops__title">{{.ShopName}}</h1>
            <a class="shops__link" href="#">show all</a>
        </div>
        <div class="row">
            <div class="autoplay">
                {{range .Products}}
                <div class="item">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{.ProductName}}</h5>
                            <div class="shops__price"><span>{{.Price}}</span>
                                ${{ calculateDiscountedPrice .Price .Discount }}
                                <span class="badge bg-success">-{{.Discount}}%</span>
                            </div>
                            <a href="/product/{{.ID}}" class="btn btn-primary shops__link">About</a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</section>
{{range .Users}}
<h5>{{.Email}}</h5>
{{end}}
{{end}}