{{define "content"}}
    <section class="shops">
        <div class="container">
            <div class="shops__text">
                <h1 class="shops__title">Bahandi</h1>
                <a class="shops__link" href="#">show all</a>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>


    <section class="shops">
        <div class="container">
            <div class="shops__text">
                <h1 class="shops__title">Bahandi</h1>
                <a class="shops__link" href="#">show all</a>
            </div>
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>

    <section class="shops">
        <div class="container">
            <div class="shops__text">
                <h1 class="shops__title">Bahandi</h1>
                <a class="shops__link" href="#">show all</a>
            </div>
            <div id="Controls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/img/avatar-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some discount</h5>
                                        <div class="shops__price"><span>$300</span>$300</div>
                                        <a href="#" class="btn btn-primary shops__link">About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#Controls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#Controls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>
{{end}}