{{template "base" .}}
{{define "content"}}
    <section class="shops">
        <div class="container">
            <div class="shops__text">
                <h1 class="shops__title">Bahandi</h1>
                <a class="shops__link" href="#">show all</a>
            </div>

            <div class="row">
                <div class="autoplay">
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/img/avatar-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Some discount</h5>
                                <div class="shops__price"><span>$300</span>$300</div>
                                <a href="#" class="btn btn-primary shops__link">About</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

{{range .Users}}
<h5>{{.Email}}</h5>
{{end}}
{{end}}